<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <header>
    <%- include('../layout/header.ejs')%>
  </header>
  <main>
    <div id='page-title'>
      <h2>Your Saved Books: <%= books.length%></h2>
    </div>
    <% books.forEach(book => { %>
      <div class="book">
        <img src=<%= book.image_url %> alt="book">
        <h2>
          <%= book.title %>
        </h2>
        <p><%= book.author %></p>
        <p><%= book.description %></p>
        <form action="/books/<%-book.id%>" method="get">
          <!-- <input type="text" name="bookshelf" placeholder="Bookshelf">
          <input type="hidden" name="title" value='<%= book.title%>'> -->
          <button type="submit">View Details</button>
        </form>
      </div>
    <%})%>
  </main>
</body>
</html>