<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div id="header-title">
      <h1>Best Books!</h1>
    </div>
    <%- include('partials/nav.ejs')%>
  </header>
  <main>
    <div id='page-title'>
      <h2>Your Saved Books: <%= books.length%></h2>
    </div>
    <% books.forEach(book => { %>
      <div class="book">
        <!-- <img src=<%= book.thumbnail %> alt="book"> -->
        <h2>
          <%= book.title %>
        </h2>
        <p><%= book.author %></p>
        <!-- <p><%= book.description %></p> -->
        <form action="/books/:id" method="get">
          <input type="text" name="bookshelf" placeholder="Bookshelf">
          <input type="hidden" name="title" value='<%= book.title%>'>
          <button type="submit">Views Details</button>
        </form>
      </div>
    <%})%>
  </main>
</body>
</html>